html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li
                  a(href='/dessert/recipes') Dessert
                li
                  a(href='/entree/recipes') Entree
                li
                  a(href='/main/recipes') Main Course  
                li
                  a(href='/me') About Me

    .container.marketing
      <h1>#{data.caption}</h1>
      ul.thumbnails
        li.span3
          a.thumbnail(href='/CAESAR SALAD/#{data.caption}/info?src=/images/ENTREE/CAESAR%20SALAD.JPG&caption=CAESAR%20SALAD')
            img(src='/images/ENTREE/CAESAR SALAD.JPG', alt='360x270', style='width: 360px; height: 200px;')
            p(style="background:none !important; box-shadow:none !important") CAESAR SALAD
        li.span3(style="background:none !important; box-shadow:none !important")
          a.thumbnail(href='/PRAWN COCKTAIL SALAD/info?src=/images/ENTREE/PRAWN%20COCKTAIL%20SALAD.jpg&caption=PRAWN%20COCKTAIL%20SALAD')
            img(src='/images/ENTREE/PRAWN COCKTAIL SALAD.jpg', alt='360x270', style='width: 360px; height: 200px;')
            p PRAWN COCKTAIL SALAD
        li.span3
          a.thumbnail(href='/ACHARI PANEER STEAK WITH KADHAI VEGETABLES , GRILLED UPMA AND MAKHNI SAUCE/info?src=/images/MAINS/ACHARI%20PANEER%20STEAK%20WITH%20KADHAI%20VEGETABLES%20,%20GRILLED%20UPMA%20AND%20MAKHNI%20SAUCE.JPG&caption=ACHARI%20PANEER%20STEAK%20WITH%20KADHAI%20VEGETABLES%20,%20GRILLED%20UPMA%20AND%20MAKHNI%20SAUCE')
            img(src='/images/MAINS/ACHARI PANEER STEAK WITH KADHAI VEGETABLES , GRILLED UPMA AND MAKHNI SAUCE.JPG', alt='360x270', style='width: 360px; height: 200px;')
            p ACHARI PANEER STEAK WITH KADHAI VEGETABLES , GRILLED UPMA AND MAKHNI SAUCE
        li.span3
          a.thumbnail(href='/COLD MANGO CHEESECAKE WITH CHOCOLATE COOKIE CRUMB , BASIL ICE CREAM/info?src=/images/DESSERTS/COLD%20MANGO%20CHEESECAKE%20WITH%20CHOCOLATE%20COOKIE%20CRUMB%20,%20BASIL%20ICE%20CREAM.jpg&caption=COLD%20MANGO%20CHEESECAKE%20WITH%20CHOCOLATE%20COOKIE%20CRUMB%20,%20BASIL%20ICE%20CREAM')
            img(src='/images/DESSERTS/COLD%20MANGO%20CHEESECAKE%20WITH%20CHOCOLATE%20COOKIE%20CRUMB%20,%20BASIL%20ICE%20CREAM.jpg', alt='360x270', style='width: 360px; height: 200px;')
            p COLD MANGO CHEESECAKE WITH CHOCOLATE COOKIE CRUMB , BASIL ICE CREAM
        

      div.infoRec
        .span8
          img.featurette-image.img-responsive(src=data.src , style="max-height:400px !important;height:400px !important")
      
        .6
          h3.featurette-heading.nomargin
            | Ingredients 
          ul
            each key,val in ingredients[0]
              li
                span #{val}
            
          
      h3.featurette-heading.nomargin
            | Directions
            ol
                each key,val in method[0]
                  li #{val}
      #fb-root
      .fb-comments(data-href='http://chefkaran.herokuapp.com/#{data.caption}/info?src=#{data.src}&caption=#{data.caption}', data-colorscheme='light', data-numposts='10', data-width='The pixel width of the plugin')

                
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
  script(type='text/javascript').
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45068140-2', 'chefkaran.herokuapp.com');
      ga('send', 'pageview');
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=201504166689357";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    addthis.layers({
      'theme' : 'dark',
      'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
      },
      'follow' : {
      'services' : [
      {'service': 'facebook', 'id': 'chefkaranmittal'},
      {'service': 'twitter', 'id': 'chefkaranmittal'},
      {'service': 'google_follow', 'id': '117032594678034009374'}
      ]
      }
      });