!!!
html
  head
    title #{pagetitle} | chef karan, chef karan mittal,chef,karan,mittal
    meta(name="viewport" , content="width=device-width,initial-scale=1")

    //-link(rel='stylesheet', href='/stylesheets/style1.css')
    
    //-link(rel='stylesheet', href='/stylesheets/carousel.css')
    
    //-link(rel='stylesheet', href='/stylesheets/bootsrap.css')
    
    //-link(rel='stylesheet', href='/stylesheets/demo.css')
    //-link(rel='stylesheet', href='/stylesheets/cstyle.css')
    //-link(rel='stylesheet', href='/stylesheets/icon.css')
    link(rel='stylesheet', href='/stylesheets/min.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')


    //-script(type="text/javascript" , src="/javascripts/jquery.js")
    //-script(type="text/javascript" , src="/javascripts/self.js")
    //-script(type="text/javascript" , src="/javascripts/lazyload.js")
    //-script(type="text/javascript" , src="/javascripts/jquery.isotope.js")
    //-script(type="text/javascript" , src="/javascripts/bootstrap.js")
    //-script(type="text/javascript" , src="/javascripts/bootstrap.min.js")

    //-script(type="text/javascript" , src="/javascripts/jquery.eislideshow.js")
    //-script(type="text/javascript" , src="/javascripts/jquery.easing.1.3.js")


    //-link(href='http://twitter.github.io/bootstrap/assets/css/bootstrap.css', rel='stylesheet')
    //-link(href='http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css', rel='stylesheet')
    //-script(src='http://code.jquery.com/jquery-1.8.0.min.js')
    //-script(src='/javascripts/bootstrap-typeahead.js')
    script(src='/javascripts/jquery.min.js')


    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='Accept-Encoding', content='gzip, deflate')
    meta(http-equiv='content-encoding', content='gzip')
    meta(name='description', content='chef, indian chef, karan mittal chef,chef karan, new delhi chef, chef delhi, international chef,#{pagetitle}')
    meta(content='Top Chef of India, Karan Mittal, New Delhi Chef, Delhi chef, upcoming indian chef,#{pagetitle}')
    meta(name="keywords" content="#{pagetitle},chef karan,chef karan mittal,chef,karan,mittal,indian chef, new delhi, delhi, international")
    meta(name="Cache-Control" content="max-age=999999999999999")
    meta(name="Expires" content="max-age=999999999999999")
    meta(name="robots" content="all")

    
body!= body