html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li.active
                  a(href='/recipes') Recipes
                li
                  a(href='/me') About Me

    .container.marketing
      h1 Recipes
      div.portfolioFilter
       li
        a.current(href='#', data-filter='*') All Categories
       li
        a(href='#', data-filter='.MAINS') MAINS
       li
        a(href='#', data-filter='.ENTREE') ENTREE
       li
        a(href='#', data-filter='.DESSERTS') DESSERTS
      
      div#wrapper
      div#columns.portfolioContainer
       each data in ob
        div.pin(class="#{data.categ}")
         a(href="/info?src=#{data.src}&caption=#{data.caption}")
          img(src="#{data.src}")
          p #{data.caption}

      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms