html
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              img.icon(src="/images/img/icon.jpg") 
              a.navbar-brand(href='/index')  Karan Mittal
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/index') Home
                li.dessert
                  a(href='/recipes?type=dessert') Dessert
                li.entree
                  a(href='/recipes?type=entree') Entree
                li.main
                  a(href='/recipes?type=main') Main Course
                li
                  a(href='/recipes?type=dessert') Salad
                li
                  a(href='/recipes?type=entree') Pasta
                li
                  a(href='/recipes?type=main') Vegetarian    
                li
                  a(href='/me') About Me
            

    .container.marketing
      h1 #{title}
      //-input#demo1.span4(type="text" , placeholder="Search recipes..." , autocomplete="off") 
      //-div.portfolioFilter
      //- li
      //-  a.current(href='#', data-filter='*') All Categories
      //- li
      //-  a(href='#', data-filter='.MAINS') MAINS
      //- li
      //-  a(href='#', data-filter='.ENTREE') ENTREE
      //- li
      //-  a(href='#', data-filter='.DESSERTS') DESSERTS
      
      div#wrapper
      div#columns.portfolioContainer.recipes
       each data in ob
        div.pin(class="#{data.categ} col-lg-4",style="margin:0 12px 25px 5px")
         a(href="/info?src=#{data.src}&caption=#{data.caption}")
          img.lazy(src="#{data.src}",alt="#{data.caption}",style="width: 100%;height:200px;padding: 0px;margin:0 auto")
          p #{data.caption}
          div.y-ingredients
            | parmesan, sage, olive oil, kosher salt, unsalted butter, butternut squash and 
            span.y-truncated.popup-card
              olive oil, sage, parmesan, kosher salt, butternut squash, unsalted butter and strozzapreti
          div.aspect-bar  
            span.aspect-icon
              span.clock.y-icon 
                i.icon-time 
                span.numbers 25 
                  span.black mins,
                span.numbers 7 
                  span.black ingredients
      div(style="clear:both")
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2013 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
  script(type='text/javascript').
    var src=window.location.href.split("?type=")[1];
    addthis.layers({
      'theme' : 'dark',
      'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
      },
      'follow' : {
      'services' : [
      {'service': 'facebook', 'id': 'chefkaranmittal'},
      {'service': 'twitter', 'id': 'chefkaranmittal'},
      {'service': 'google_follow', 'id': '117032594678034009374'}
      ]
      }
      });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45068140-1', 'chefkaran.com');
      ga('send', 'pageview');

    $("li.main").removeClass("active");
    $("li.entree").removeClass("active");
    $("li.dessert").removeClass("active");
    if(src=="main"){
      $("li.main").addClass("active");
    }
    if(src=="entree"){
      $("li.entree").addClass("active");
    }
    if(src=="dessert"){
      $("li.dessert").addClass("active");
    }
    var search=
      [
          {
              "src": "/images/DESSERTS/ALLUMETTES.jpg",
              "name": "ALLUMETTES",
              "categ": "DESSERTS",
              "id": "1"
          },
          {
              "src": "/images/DESSERTS/APPLE PIE 1.jpg",
              "name": "APPLE PIE ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/APPLE PIE.jpg",
              "name": "APPLE PIE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/ASSORTED DOUGHNUTS.jpg",
              "name": "ASSORTED DOUGHNUTS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/ASSORTED MACARONS.jpg",
              "name": "ASSORTED MACARONS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BANANA AND JAGGERY STICKY CAKE WITH BAKED SHREEKHAND AND MANGO GRANITA.JPG",
              "name": "BANANA AND JAGGERY STICKY CAKE WITH BAKED SHREEKHAND AND MANGO GRANITA",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BANOFEE PIE 2.jpg",
              "name": "BANOFEE PIE ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BANOFEE PIE.jpg",
              "name": "BANOFEE PIE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BEBINCA - 13 LAYERS.jpg",
              "name": "BEBINCA - 13 LAYERS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BEBINCA WITH PEANUT AND JAGGERY ICE CREAM , ELANEER PAYASAM SHOOTER.jpg",
              "name": "BEBINCA WITH PEANUT AND JAGGERY ICE CREAM , ELANEER PAYASAM SHOOTER",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BEIGNET A LA CREME.jpg",
              "name": "BEIGNET A LA CREME",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BLUEBERRY COLD CHEESECAKE 1.jpg",
              "name": "BLUEBERRY COLD CHEESECAKE ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BLUEBERRY COLD CHEESECAKE 2.jpg",
              "name": "BLUEBERRY COLD CHEESECAKE ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BLUEBERRY CUPCAKES.jpg",
              "name": "BLUEBERRY CUPCAKES",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BRANDY SNAP WITH BASIL MOUSSE.jpg",
              "name": "BRANDY SNAP WITH BASIL MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/BROWNIE CHEESECAKE.jpg",
              "name": "BROWNIE CHEESECAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCLATE AND WANUT BROWNIE  2.jpg",
              "name": "CHOCLATE AND WANUT BROWNIE  ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE AND WALNUT BROWNIES 1.jpg",
              "name": "CHOCOLATE AND WALNUT BROWNIES ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE CONES WITH CHOCOLATE MOUSSE.jpg",
              "name": "CHOCOLATE CONES WITH CHOCOLATE MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE CROISSANT.jpg",
              "name": "CHOCOLATE CROISSANT",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE CUPCAKES.jpg",
              "name": "CHOCOLATE CUPCAKES",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE DOUGHNUTS.jpg",
              "name": "CHOCOLATE DOUGHNUTS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE ECLAIRS.jpg",
              "name": "CHOCOLATE ECLAIRS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE FUDGE CAKE WITH ORANGE MOUSSE.jpg",
              "name": "CHOCOLATE FUDGE CAKE WITH ORANGE MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE MOUSSE OVER FLOURLESS CHOCOLATE AND MOCHA FUDGE CAKE.jpg",
              "name": "CHOCOLATE MOUSSE OVER FLOURLESS CHOCOLATE AND MOCHA FUDGE CAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE MOUSSE.jpg",
              "name": "CHOCOLATE MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE MUFFINS.jpg",
              "name": "CHOCOLATE MUFFINS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE PASTRY.jpg",
              "name": "CHOCOLATE PASTRY",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE PAVLOVA STUFFED WITH CHOCOLATE BUTTERCREAM.jpg",
              "name": "CHOCOLATE PAVLOVA STUFFED WITH CHOCOLATE BUTTERCREAM",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOCOLATE TART.jpg",
              "name": "CHOCOLATE TART",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CHOUX SWANS.jpg",
              "name": "CHOUX SWANS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/COLD MANGO CHEESECAKE WITH CHOCOLATE COOKIE CRUMB , BASIL ICE CREAM.jpg",
              "name": "COLD MANGO CHEESECAKE WITH CHOCOLATE COOKIE CRUMB , BASIL ICE CREAM",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CREME CARAMEL.jpg",
              "name": "CREME CARAMEL",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/CROQUEMBOUCHE.jpg",
              "name": "CROQUEMBOUCHE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/DANISH PASTRY 1.jpg",
              "name": "DANISH PASTRY ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/DANISH PASTRY 2.jpg",
              "name": "DANISH PASTRY ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/DANISH PASTRY 3.jpg",
              "name": "DANISH PASTRY 3",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/EGGLESS AND SUGARFREE MUFFINS.jpg",
              "name": "EGGLESS AND SUGARFREE MUFFINS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FIG AND MAPLE TART.jpg",
              "name": "FIG AND MAPLE TART",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FIG AND SESAME TART.JPG",
              "name": "FIG AND SESAME TART",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FLOATING ISLANDS.jpg",
              "name": "FLOATING ISLANDS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FLOURLESS CHOCOLATE AND MOCHA FUDGE CAKE WITH BANANA AND CARAMEL ICE CREAM.jpg",
              "name": "FLOURLESS CHOCOLATE AND MOCHA FUDGE CAKE WITH BANANA AND CARAMEL ICE CREAM",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FRESH MANGO TART , MANGO AND MINT SALSA , BERRY SORBET.jpg",
              "name": "FRESH MANGO TART , MANGO AND MINT SALSA , BERRY SORBET",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FRESH STRAWBERRY TARTLETS.jpg",
              "name": "FRESH STRAWBERRY TARTLETS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/FRIED BERLINERS.jpg",
              "name": "FRIED BERLINERS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/GATEAUX PITHIVIER.jpg",
              "name": "GATEAUX PITHIVIER",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/GATEAUX ST.HONORE.jpg",
              "name": "GATEAUX ST.HONORE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/GUM PASTE DECORATION OVER CAKE.jpg",
              "name": "GUM PASTE DECORATION OVER CAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/LEMON MERINGUE CUPCAKES.jpg",
              "name": "LEMON MERINGUE CUPCAKES",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/LEMON MERINGUE TART.jpg",
              "name": "LEMON MERINGUE TART",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/LINZER TORTE.jpg",
              "name": "LINZER TORTE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/MANGO AND CHILLI MOUSSE.jpg",
              "name": "MANGO AND CHILLI MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/MANGO AND PEPPERMINT PARFAIT.jpg",
              "name": "MANGO AND PEPPERMINT PARFAIT",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/MANGO PHIRNI.jpg",
              "name": "MANGO PHIRNI",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/ORANGE BREAD AND BANANA BREAD.jpg",
              "name": "ORANGE BREAD AND BANANA BREAD",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/ORANGE CREME CARAMEL.jpg",
              "name": "ORANGE CREME CARAMEL",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PAIN AU CHOCOLAT.jpg",
              "name": "PAIN AU CHOCOLAT",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PAIN AU RAISIN.jpg",
              "name": "PAIN AU RAISIN",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PAIN-AU-CHOCOLAT 2.jpg",
              "name": "PAIN-AU-CHOCOLAT ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PALMIERS.jpg",
              "name": "PALMIERS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PASTRY DISPLAY 2.jpg",
              "name": "PASTRY DISPLAY ",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PASTRY DISPLAY.jpg",
              "name": "PASTRY DISPLAY",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PEANUT BUTTER CUPS.jpg",
              "name": "PEANUT BUTTER CUPS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PINEAPPLE TART- TATIN.jpg",
              "name": "PINEAPPLE TART- TATIN",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/pineapple upside down.jpg",
              "name": "pineapple upside down",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/PLATTER - CHOCOLATE CONES , CREME BRULEE , TIRAMISU TARTLET AND STRAWBERRY AND CREAM FILLED BRANDY SNAP.jpg",
              "name": "PLATTER - CHOCOLATE CONES , CREME BRULEE , TIRAMISU TARTLET AND STRAWBERRY AND CREAM FILLED BRANDY SNAP",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/RASPBERRY CHIFFON PIE.jpg",
              "name": "RASPBERRY CHIFFON PIE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/RASPBERRY SORBET.jpg",
              "name": "RASPBERRY SORBET",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/RED VELEVET CAKE WITH CREAM CHEESE FROSTING.jpg",
              "name": "RED VELEVET CAKE WITH CREAM CHEESE FROSTING",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/RED VELVET , PINA COLADA ,.jpg",
              "name": "RED VELVET , PINA COLADA ,",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/RED VELVET CUPCAKES WITH CREAM CHEESE FROSTING.jpg",
              "name": "RED VELVET CUPCAKES WITH CREAM CHEESE FROSTING",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/ROSE PAVLOVA STUFFED WITH BUTTERCREAM.jpg",
              "name": "ROSE PAVLOVA STUFFED WITH BUTTERCREAM",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/SACHER TORTE.jpg",
              "name": "SACHER TORTE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/SPAGHETTI POMODORO.jpg",
              "name": "SPAGHETTI POMODORO",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/STRAWBERRY AND FRANGIPANE TART.jpg",
              "name": "STRAWBERRY AND FRANGIPANE TART",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/strawberry gel, yogurt pannacotta, dehydrated meringue, oat meal crumble and basil icecream.JPG",
              "name": "strawberry gel, yogurt pannacotta, dehydrated meringue, oat meal crumble and basil icecream",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/STRAWBERRY JELLY CHEESECAKE.jpg",
              "name": "STRAWBERRY JELLY CHEESECAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/STRAWBERRY MOUSSE.jpg",
              "name": "STRAWBERRY MOUSSE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/STRWBERRY BERLINER.jpg",
              "name": "STRWBERRY BERLINER",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/SUGAR COATED DOUGHNUTS.jpg",
              "name": "SUGAR COATED DOUGHNUTS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/SUMMER BERRY SOUP WITH FLOATING ISLAND AND FRESH FRUITS IN CARAMEL CUP.JPG",
              "name": "SUMMER BERRY SOUP WITH FLOATING ISLAND AND FRESH FRUITS IN CARAMEL CUP",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/TIRAMISU PASTRY.jpg",
              "name": "TIRAMISU PASTRY",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/TIRAMISU.jpg",
              "name": "TIRAMISU",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/TREACLE TARTLETS.jpg",
              "name": "TREACLE TARTLETS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/TRIPLE CHOCOLATE BAKED CHEESECAKE.jpg",
              "name": "TRIPLE CHOCOLATE BAKED CHEESECAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/VANILLA BEAN CREME BRULEE.jpg",
              "name": "VANILLA BEAN CREME BRULEE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/VANILLA MUFFINS.jpg",
              "name": "VANILLA MUFFINS",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/VICTORIAN FOOD CAKE.jpg",
              "name": "VICTORIAN FOOD CAKE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/DESSERTS/WILD BERRY PIE.jpg",
              "name": "WILD BERRY PIE",
              "categ": "DESSERTS"
          },
          {
              "src": "/images/ENTREE/ALMOND CRUSTED PANEER TIKKI WITH FENUGREEK LAVASH AND  TAMARIND SUACE.jpg",
              "name": "ALMOND CRUSTED PANEER TIKKI WITH FENUGREEK LAVASH AND  TAMARIND SUACE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/AMUSE BOUCHE - BEETROOT AND CHEVRE ROULADE.jpg",
              "name": "AMUSE BOUCHE - BEETROOT AND CHEVRE ROULADE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/AMUSE BOUCHE - PANAGAM.jpg",
              "name": "AMUSE BOUCHE - PANAGAM",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/BAKHARKHANI BREAD WITH LAMB GALOUTI KEBAB AND MINT CHUTNEY.jpg",
              "name": "BAKHARKHANI BREAD WITH LAMB GALOUTI KEBAB AND MINT CHUTNEY",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/BURGER BUN.jpg",
              "name": "BURGER BUN",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CAESAR SALAD.JPG",
              "name": "CAESAR SALAD",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CAFREAL PRAWNS.jpg",
              "name": "CAFREAL PRAWNS",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CHETTINAD SPICED CORN VOL-AU-VENT.jpg",
              "name": "CHETTINAD SPICED CORN VOL-AU-VENT",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CHETTINAD SPICED STUFFED PANEER TIKKA.jpg",
              "name": "CHETTINAD SPICED STUFFED PANEER TIKKA",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CHEVRE LOG WITH 5 TEXTURES OF BEETROOT.jpg",
              "name": "CHEVRE LOG WITH 5 TEXTURES OF BEETROOT",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CHICKEN DIMSUM.jpg",
              "name": "CHICKEN DIMSUM",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CHICKEN TIKKA CHAAT , PEPPER  CHICKEN WITH MINT YOGHURT AND SALAD.jpg",
              "name": "CHICKEN TIKKA CHAAT , PEPPER  CHICKEN WITH MINT YOGHURT AND SALAD",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CIABATTA.jpg",
              "name": "CIABATTA",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/COCONUT AND MINT , COCONUT , ONION AND TOMATO , CAPSICUM , CORIANDER CHUTNEY.jpg",
              "name": "COCONUT AND MINT , COCONUT , ONION AND TOMATO , CAPSICUM , CORIANDER CHUTNEY",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/COCONUT CHUTNEY.JPG",
              "name": "COCONUT CHUTNEY",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CORN AND CURRY LEAF TIKKI.jpg",
              "name": "CORN AND CURRY LEAF TIKKI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CROISSANT 1.jpg",
              "name": "CROISSANT ",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/CROISSANT 2.jpg",
              "name": "CROISSANT ",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/DAHI BHALLA.jpg",
              "name": "DAHI BHALLA",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/EGGS BENEDICT.JPG",
              "name": "EGGS BENEDICT",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/FARMER'S LOAF.jpg",
              "name": "FARMER'S LOAF",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/FISH VARUVAL WITH RAW MANGO AND CAPSICUM CHUTNEYS.JPG",
              "name": "FISH VARUVAL WITH RAW MANGO AND CAPSICUM CHUTNEYS",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/FRIED ANCHOVIES.JPG",
              "name": "FRIED ANCHOVIES",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/GILAFI LAMB SEEKH KEBAB.JPG",
              "name": "GILAFI LAMB SEEKH KEBAB",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/GREEN PEA AND CORIANDER SOUP WITH SMOKED CHICKEN SKEWER AND MUSTARD CAVIAR.JPG",
              "name": "GREEN PEA AND CORIANDER SOUP WITH SMOKED CHICKEN SKEWER AND MUSTARD CAVIAR",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/GRILLED VEGETABLE AND PESTO PANINI.JPG",
              "name": "GRILLED VEGETABLE AND PESTO PANINI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/HARIYALI MURGH TIKKA AND CHICKEN SHAMMI KEBAB PLATTER.jpg",
              "name": "HARIYALI MURGH TIKKA AND CHICKEN SHAMMI KEBAB PLATTER",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/HOME SMOKED PANEER TIKKA.jpg",
              "name": "HOME SMOKED PANEER TIKKA",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/HUMMUS DIP.JPG",
              "name": "HUMMUS DIP",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/KUZHI PANIYARAM.JPG",
              "name": "KUZHI PANIYARAM",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/LAMB SHAMMI KEBAB.JPG",
              "name": "LAMB SHAMMI KEBAB",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MASALA FRIED FISH AND CHETTINAD SPICED CRAB CAKE PLATTER.jpg",
              "name": "MASALA FRIED FISH AND CHETTINAD SPICED CRAB CAKE PLATTER",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MASALA LAMB CHOPS WITH BURRANI RAITA AND OVEN DRIED TOMATO SALAD.jpg",
              "name": "MASALA LAMB CHOPS WITH BURRANI RAITA AND OVEN DRIED TOMATO SALAD",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MEXICAN VEGETABLE FAJITAS.JPG",
              "name": "MEXICAN VEGETABLE FAJITAS",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MINUTE STEAK SANDWICH WITH COLESLAW AND FRENCH FRIES.jpg",
              "name": "MINUTE STEAK SANDWICH WITH COLESLAW AND FRENCH FRIES",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MULTIGRAIN CROISSANT.jpg",
              "name": "MULTIGRAIN CROISSANT",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MUSHROOM GALOUTI KEBAB.jpg",
              "name": "MUSHROOM GALOUTI KEBAB",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/MUSHROOM VOL-AU-VENT.jpg",
              "name": "MUSHROOM VOL-AU-VENT",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/PEPPER FRIED PRAWNS.jpg",
              "name": "PEPPER FRIED PRAWNS",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/PINEAPPLE RASAM WITH GRISSINI.jpg",
              "name": "PINEAPPLE RASAM WITH GRISSINI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/PRAWN COCKTAIL SALAD.jpg",
              "name": "PRAWN COCKTAIL SALAD",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/RAW MANGO , SHRIMP , LEMON PICKLE.jpg",
              "name": "RAW MANGO , SHRIMP , LEMON PICKLE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/SEMOLINA CRUSTED HARA BHARA KEBAB WITH KACHUMBER SALAD AND PAPAD TOUILLE.jpg",
              "name": "SEMOLINA CRUSTED HARA BHARA KEBAB WITH KACHUMBER SALAD AND PAPAD TOUILLE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/SMOKED MASALA CHEESE BALLS OVER GRILLED UPMA AND GARLIC CHILLI SAUCE AND ROASTED PAPAD TRIANGLES.jpg",
              "name": "SMOKED MASALA CHEESE BALLS OVER GRILLED UPMA AND GARLIC CHILLI SAUCE AND ROASTED PAPAD TRIANGLES",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/SMOKED SALMON AND CREAM CHEESE CROSTINI.jpg",
              "name": "SMOKED SALMON AND CREAM CHEESE CROSTINI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/SPICED PUMPKIN SOUP WITH FLAVOURED.jpg",
              "name": "SPICED PUMPKIN SOUP WITH FLAVOURED",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/STEAMED FISH AND JAPANESE RICE SUSHI.jpg",
              "name": "STEAMED FISH AND JAPANESE RICE SUSHI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/THAI FISH CAKES WITH PICKLED CUCUMBER RELISH AND PLUM SAUCE.jpg",
              "name": "THAI FISH CAKES WITH PICKLED CUCUMBER RELISH AND PLUM SAUCE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/THALASSARI LAMB CUTLETS.jpg",
              "name": "THALASSARI LAMB CUTLETS",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/TOMATO RASAM WITH BASIL GRISSINI.jpg",
              "name": "TOMATO RASAM WITH BASIL GRISSINI",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/TURMERIC CIABATTA AND PICKLED RAW MANGO FOCACCIA.jpg",
              "name": "TURMERIC CIABATTA AND PICKLED RAW MANGO FOCACCIA",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/VEG APPETIZER - OATMEAL CRUSTED SMOKED MASALA CHEESE TIKKI , OLIVE AND JALAPENO PANIYARAM , SPINACH LEAVES TEMPURA , CHILLY GARLIC CHUTNEY.JPG",
              "name": "VEG APPETIZER - OATMEAL CRUSTED SMOKED MASALA CHEESE TIKKI , OLIVE AND JALAPENO PANIYARAM , SPINACH LEAVES TEMPURA , CHILLY GARLIC CHUTNEY",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/VEGETABLE DIMSUM.jpg",
              "name": "VEGETABLE DIMSUM",
              "categ": "ENTREE"
          },
          {
              "src": "/images/ENTREE/WOOD FIRED QUESADILLAS WITH TOMATO SALSA , SOUR CREAM AND GUACAMOLE.jpg",
              "name": "WOOD FIRED QUESADILLAS WITH TOMATO SALSA , SOUR CREAM AND GUACAMOLE",
              "categ": "ENTREE"
          },
          {
              "src": "/images/MAINS/ACHARI PANEER STEAK WITH KADHAI VEGETABLES , GRILLED UPMA AND MAKHNI SAUCE.JPG",
              "name": "ACHARI PANEER STEAK WITH KADHAI VEGETABLES , GRILLED UPMA AND MAKHNI SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/AMRITSARI DUM ALOO.JPG",
              "name": "AMRITSARI DUM ALOO",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/BAINGAN KA BHARTA.JPG",
              "name": "BAINGAN KA BHARTA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/BEANS PORIYAL WITH APPAM.JPG",
              "name": "BEANS PORIYAL WITH APPAM",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/BEEF WELLINGTON 1.jpg",
              "name": "BEEF WELLINGTON ",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/BEEF WELLINGTON 2.jpg",
              "name": "BEEF WELLINGTON ",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/BUTTER CHICKEN.jpg",
              "name": "BUTTER CHICKEN",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/CHETTINAD CHICKEN AND STUFFED DOSA.jpg",
              "name": "CHETTINAD CHICKEN AND STUFFED DOSA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/CHETTINAD SPICED WHOLE CRAB.jpg",
              "name": "CHETTINAD SPICED WHOLE CRAB",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/CHICKEN CHTTINAD CURRY WITH APPAM.JPG",
              "name": "CHICKEN CHTTINAD CURRY WITH APPAM",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/CHLOROPHYLL RAVIOLI STUFFED WITH CHEESE.jpg",
              "name": "CHLOROPHYLL RAVIOLI STUFFED WITH CHEESE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/CIABATTA CRUSTED FISH WITH CHORIZO CRUMBLE,CHAWANMUSHI AND ROASTED PEPPERS.JPG",
              "name": "CIABATTA CRUSTED FISH WITH CHORIZO CRUMBLE,CHAWANMUSHI AND ROASTED PEPPERS",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/FETTUCCINE POMODORO.JPG",
              "name": "FETTUCCINE POMODORO",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/FETTUCINE CARBONARA.JPG",
              "name": "FETTUCINE CARBONARA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/FISH POLLICHATTU WITH SPIANCH AND LENTIL KHICHDI , PICKLED SHALLOTS.jpg",
              "name": "FISH POLLICHATTU WITH SPIANCH AND LENTIL KHICHDI , PICKLED SHALLOTS",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GATTA CURRY.JPG",
              "name": "GATTA CURRY",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GONGURA SPICED LAMB RACK WITH SAFFRON MASHED POTATOES AND ROASTED BABY AUBERGINES.jpg",
              "name": "GONGURA SPICED LAMB RACK WITH SAFFRON MASHED POTATOES AND ROASTED BABY AUBERGINES",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GRILLED BEEF STEAK WITH MASHED POTATOES AND BUTTERED VEGETABLES.jpg",
              "name": "GRILLED BEEF STEAK WITH MASHED POTATOES AND BUTTERED VEGETABLES",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GRILLED BEEF STEAK WITH MUSHROOM AND PEPPER JUS.jpg",
              "name": "GRILLED BEEF STEAK WITH MUSHROOM AND PEPPER JUS",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GRILLED FISH OVER MASHED POTATOES.jpg",
              "name": "GRILLED FISH OVER MASHED POTATOES",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/GRILLED SEA BASS WITH PICKLED ONION SALAD AND SAUCE.jpg",
              "name": "GRILLED SEA BASS WITH PICKLED ONION SALAD AND SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/JEERA ALOO.JPG",
              "name": "JEERA ALOO",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/KADHAI PANEER 2.jpg",
              "name": "KADHAI PANEER ",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/KADHAI PANEER.jpg",
              "name": "KADHAI PANEER",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/KADHAI VEGETABLES , STUFFED PANEER , GRILLED UPMA AND MAKHANI SAUCE.jpg",
              "name": "KADHAI VEGETABLES , STUFFED PANEER , GRILLED UPMA AND MAKHANI SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/KUMBH MATAR.jpg",
              "name": "KUMBH MATAR",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/LAMB CHOPS OVER DUM BIRYANI.jpg",
              "name": "LAMB CHOPS OVER DUM BIRYANI",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/LAMB KASHA MANGSHO WITH APPAM.JPG",
              "name": "LAMB KASHA MANGSHO WITH APPAM",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/LAMB RILLETE ON FENUGREEK PAPDI , CHICKEN RECHADO SKEWERS , MASALA CHEESE CRUTED CHICKEN TIKKA AND CHILLI COCONUT PANACOTTA.JPG",
              "name": "LAMB RILLETE ON FENUGREEK PAPDI , CHICKEN RECHADO SKEWERS , MASALA CHEESE CRUTED CHICKEN TIKKA AND CHILLI COCONUT PANACOTTA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/LAVASH DISPLAY.jpg",
              "name": "LAVASH DISPLAY",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MADRAS LAMB CURRY WITH APPAM.JPG",
              "name": "MADRAS LAMB CURRY WITH APPAM",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MADRAS LAMB NALLI KORMA.jpg",
              "name": "MADRAS LAMB NALLI KORMA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MALABAR PARATHA.JPG",
              "name": "MALABAR PARATHA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MALABAR PRAWN CURRY WITH APPAM.jpg",
              "name": "MALABAR PRAWN CURRY WITH APPAM",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MEEN MOILEE - GRILLED FISH , STEAMED RICE HOPPERS , TEMPERED TOMATOES , BHINDI JAIPURI AND MOILEE SAUCE.JPG",
              "name": "MEEN MOILEE - GRILLED FISH , STEAMED RICE HOPPERS , TEMPERED TOMATOES , BHINDI JAIPURI AND MOILEE SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MIRCHI KA SALAN.jpg",
              "name": "MIRCHI KA SALAN",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/MUSHROOM STEAK WITH BAGHARE BAINGAN AND SMOKED CHILLI SAUCE.JPG",
              "name": "MUSHROOM STEAK WITH BAGHARE BAINGAN AND SMOKED CHILLI SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/NILGIRI PANEER KORMA WITH RAGI DOSA.jpg",
              "name": "NILGIRI PANEER KORMA WITH RAGI DOSA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/PINDI CHHOLE.jpg",
              "name": "PINDI CHHOLE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/QUATTRO FROMAGGI RAVIOLI WITH BEURRE BLANC.jpg",
              "name": "QUATTRO FROMAGGI RAVIOLI WITH BEURRE BLANC",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/QUICHE LORRAINE 2.jpg",
              "name": "QUICHE LORRAINE ",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/QUICHE LORRAINE.jpg",
              "name": "QUICHE LORRAINE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SEAFOOD APPETIZER - PEPPER FRIED PRAWNS , CHETTINAD SPICED CRAB CAKE , CRACKLING SPINACH , PINEAPLLE SALASA AND CHILLI OIL.jpg",
              "name": "SEAFOOD APPETIZER - PEPPER FRIED PRAWNS , CHETTINAD SPICED CRAB CAKE , CRACKLING SPINACH , PINEAPLLE SALASA AND CHILLI OIL",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SEAFOOD APPETIZER - PRAWN AND CORN POTLI , PEPPER FRIED SOFT SHELL CRAB AND PATRANI CRUSTED FISH.JPG",
              "name": "SEAFOOD APPETIZER - PRAWN AND CORN POTLI , PEPPER FRIED SOFT SHELL CRAB AND PATRANI CRUSTED FISH",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SOUS VIDE CHETTINAD SPICED CHICKEN BREAST , MUTTAI PARATHA MILLE - FEUILLE , ONION RINGS AND CHETTINAD SAUCE.jpg",
              "name": "SOUS VIDE CHETTINAD SPICED CHICKEN BREAST , MUTTAI PARATHA MILLE - FEUILLE , ONION RINGS AND CHETTINAD SAUCE",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SPAGHETTI AGLIO OLIO.JPG",
              "name": "SPAGHETTI AGLIO OLIO",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SPAGHETTI PRIMAVERA.JPG",
              "name": "SPAGHETTI PRIMAVERA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/SPINACH , PINE NUT AND RICOTTA CANNELONI.jpg",
              "name": "SPINACH , PINE NUT AND RICOTTA CANNELONI",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/STUFFED CHICKEN BALLONTINE WITH RED WINE JUS.JPG",
              "name": "STUFFED CHICKEN BALLONTINE WITH RED WINE JUS",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/VEGETABLE ENCHILADAS.JPG",
              "name": "VEGETABLE ENCHILADAS",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/VEGETABLE KOFTAS IN SPINACH GRAVY.JPG",
              "name": "VEGETABLE KOFTAS IN SPINACH GRAVY",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/VEGETABLE LASAGNA.JPG",
              "name": "VEGETABLE LASAGNA",
              "categ": "MAINS"
          },
          {
              "src": "/images/MAINS/WILD MUSHROOM RISOTTO.JPG",
              "name": "WILD MUSHROOM RISOTTO",
              "categ": "MAINS"
          }
      ]
    $('#demo1').typeahead({
                    source: search
    });

    
  