each data in ob
        div.pin(class="#{data.categ} col-lg-4",style="margin:0 12px 25px 5px")
         a(href="/#{data.caption}/info?src=#{data.src}&caption=#{data.caption}")
          img.lazy(src="#{data.src}",alt="#{data.caption}",style="width: 100%;height:200px;padding: 0px;margin:0 auto")
          p #{data.caption}
          div.y-ingredients
              | #{data.shortIngredients} 
            div.aspect-bar  
              span.aspect-icon
                  span.numbers #{data.numIngredients} 
                    span.black ingredients